<h1>Cricket Player Management System</h1><br/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="navbar">
<ul>
  <li><a href="home">Home</a></li>
  <li><a href="">Login</a></li>

<li><a href="display1">Display All player details</a></li>

<li><a href="search1">Search for a player</a></li>
<div class="dropdown">
  <button class="dropbtn">Teams
    <i class=""></i>
  </button>
  <div class="dropdown-content">
    <a href="gallery1">Gallery</a>

    <a href="tdisplay1">Display all team details</a>
    <a href="tsearch1">Search for team details</a>
  </div>
</div> 
</ul>
</div><br/><br/><br/>

<div>

</div>

<br/><br/><br/>
<br/><br/><br/>
<br/><br/><br/>
<br/><br/><br/>


<div>
  <div class="card">
  
    <div class="card_part card_part-one">
    </div>
    
     <!-- Photo 2 -->
    <div class="card_part card_part-two">
  
    </div>
  
    <!-- Photo 3 -->
    <div class="card_part card_part-three">
    </div>
  
    <!-- Photo 4 -->
    <div class="card_part card_part-four">
    </div>
  
  </div>

</div>
<br/><br/><br/>

<br/><br/><br/><br/><br/><br/>
<br/><br/><br/>

<div class="insertform">
  <br/><br/>
  <h3>Display player details:</h3><br/>
  <p>This module helps in displaying the player records by retrieving from the database. The details like player name, runs scored, rating, age,team would be listed.</p><br/>
<button name="getDetails"  class ="insertbtn " (click)="displayAll()">Display All</button>
<div *ngIf = "show">
  <div class="table">
  <table border="1">
    <tr><th>Index</th><th>Name</th><th>Age</th><th>Jno</th><th>Runs</th><th>Rating</th><th>Team</th></tr>
    <tr *ngFor = "let v of value ; let i = index ">
    <td>{{i}}</td>
    <td>{{v.name}}</td>
    <td>{{v.age}}</td>
    <td> {{v.jno}}</td>
    <td> {{v.runs}}</td>
    <td> {{v.rating}}</td>
    <td>{{v.team}}</td>
    </tr>
  </table>
</div>
</div>
</div>


<br/><br/><br/>
<div class="footer">
  <div class="footer-col1"><br/><br/>
                <h5>About </h5>
                <p class="p-small">We're passionate in providing place for young placers to fulfill their dreams.</p>
            </div>
        
            <div class="footer-col2">
                <br/><h5>Links</h5>
                        
                        <div class="media-body"><a href="https://www.icc-cricket.com">Terms & Conditions</a></div>
              <br/>
                        
                        <div class="media-body"><a href="https://www.icc-cricket.com">Privacy Policy</a></div>
                    
                  <br/> 
                        
                        <div class="media-body"><a href="https://www.icc-cricket.com">Article Details</a></div><br/>
                    
                
            </div>
      
        
            <div class="footer-col3">
                <h5>Social Media</h5>
                <p class="p-small">For news & updates follow us</p>
                <section id="lab_social_icon_footer">
                  <!-- Include Font Awesome Stylesheet in Header -->
                  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
                  <div class="container">
                          <div class="text-center center-block">
                                  <a href="https://www.facebook.com/icc"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
                                <a href="https://twitter.com/icc"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
                                <a href="https://plus.google.com/icc"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
                                <a href="mailto:icc"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
                      </div>
                  </div>
                  </section>
            </div> <br/><br/>
            <p class="copyright">Copyright © 2021 <a href="https://www.icc-cricket.com">ICC</a> - All rights reserved</p>
        </div> 

  




