
<img src="../../assets/icc.png" height="50px" width="50px" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="navbar">
  <ul>
  <li><a href="home">Home</a></li>
    <li><a href="">Login</a></li>

  <div class="dropdown">
    <button class="dropbtn">Teams
      <i class=""></i>
    </button>
    <div class="dropdown-content">
      <a href="gallery1">Gallery</a>
      
      <a href="tdisplay1">Display all team details</a>
      <a href="tsearch1">Search for team details</a>
    </div>
  </div> 
  </ul>
  </div>

  <div  class="image1">
    <img src="../../assets/background.jpg" 
    width="1520px" height="750px"/>
  </div>
  <div class="con">
  <h1>Cricket Player Management System</h1>
  </div>
  <div class="con1">
    <h3><pre>PROVIDING YOUNG CRICKETERS A PLACE TO FULFILL THEIR DREAMS</pre></h3>
  </div>
  <div class="box" (click) = "scroll()">GET STARTED</div>
  <br/><br/><br/>
  <br/><br/><br/>
  <br/><br/><br/>



  <div class="heading">
    <h1>Match Highlights</h1><a href="https://www.icc-cricket.com/video">More Videos</a>

  </div><br/><br/>
<div class="video">
  <video width="800" controls>
    <source src="../../assets/video.mp4" type="video/mp4">
    
    Your browser does not support HTML video.
  </video>

</div>



  <div>
    
    <div class="card1">
      <div class="border">
      <h2>ICC Men's Team Rankings</h2></div>
      <table>
        
        <h3>Test Team Rankings</h3><img src = "../../assets/india.jpg" class="avatar"/><br/>
        <tr><th>Pos</th><th>Team</th><th>Rating</th></tr>
        <tr><td>1</td><td>India</td><td>124</td></tr>
        <tr><td>2</td><td>Newzland</td><td>121</td></tr>
        <tr><td>3</td><td>Australia</td><td>108</td></tr>
        <tr><td>4</td><td>England</td><td>107</td></tr>
        <tr><td>5</td><td>Pakisthan</td><td>93</td></tr>
    
    </table>
    </div>


    <div class="card2">
    
      <table>
        
        <h3>ODI Team Rankings</h3><img src="../../assets/newzland.jpg" class="avatar"/><br/>
        <tr><th>Pos</th><th>Team</th><th>Rating</th></tr>
        <tr><td>1</td><td>Newzland</td><td>121</td></tr>
        <tr><td>2</td><td>England</td><td>119</td></tr>
        <tr><td>3</td><td>Australia</td><td>116</td></tr>
        <tr><td>4</td><td>India</td><td>113</td></tr>
        <tr><td>5</td><td>SouthAfrica</td><td>98</td></tr>
    
    </table>
    </div><br/><br/>

    <div class="card3">
    
      <table>
        
        <h3>T20I Team Rankings</h3><img src="../../assets/england.jpg" class="avatar"/><br/>
        <tr><th>Pos</th><th>Team</th><th>Rating</th></tr>
        <tr><td>1</td><td>England</td><td>275</td></tr>
        <tr><td>2</td><td>India</td><td>267</td></tr>
        <tr><td>3</td><td>Pakisthan</td><td>265</td></tr>
        <tr><td>4</td><td>Newzland</td><td>255</td></tr>
        <tr><td>5</td><td>SouthAfrica</td><td>253</td></tr>
    
    </table>
    </div>

  </div><br/><br/><br/>


  <div class="card1">
    <div class="border">
    <h2>Men's Batting Rankings</h2></div>
    <table>
      
      <h3>Test Batting Rankings</h3><img src="../../assets/joeroot.jpg" class="avatar"/><br/>
      <tr><th>Pos</th><th>Player</th><th>Rating</th></tr>
      <tr><td>1</td><td>Joe Root</td><td>903</td></tr>
      <tr><td>2</td><td>Steve Smith</td><td>891</td></tr>
      <tr><td>3</td><td>Kane Williamson</td><td>879</td></tr>
      <tr><td>4</td><td>Marnus Labuschagne</td><td>878</td></tr>
      <tr><td>5</td><td>Rohit Sharma</td><td>797</td></tr>
  
  </table>
  </div>


  <div class="card2">
  
    <table>
      
      <h3>ODI Batting Rankings</h3><img src="../../assets/babarazam.jpg" class="avatar"/><br/>
      <tr><th>Pos</th><th>Player</th><th>Rating</th></tr>
      <tr><td>1</td><td>Babar Azam</td><td>873</td></tr>
      <tr><td>2</td><td>Virat Kholi</td><td>844</td></tr>
      <tr><td>3</td><td>Rohit Sharma</td><td>813</td></tr>
      <tr><td>4</td><td>Ross Taylor</td><td>801</td></tr>
      <tr><td>5</td><td>Aaron Finch</td><td>779</td></tr>
  
  </table>
  </div><br/><br/>

  <div class="card3">
  
    <table>
      
      <h3>T20I Battting Rankings</h3><img src="../../assets/babarazam.jpg" class="avatar"/><br/>
      <tr><th>Pos</th><th>Player</th><th>Rating</th></tr>
      <tr><td>1</td><td>Babar Aazam</td><td>809</td></tr>
      <tr><td>2</td><td>David Malan</td><td>805</td></tr>
      <tr><td>3</td><td>Aiden Markram</td><td>796</td></tr>
      <tr><td>4</td><td>Mohammad Rzwan</td><td>735</td></tr>
      <tr><td>5</td><td>Lokesh Rahul</td><td>729</td></tr>
  
  </table>
  </div>

<br/><br/><br/>

<br/><br/><br/>

<div class="card1">
  <div class="border">
  <h2>Men's Bowling Rankings</h2></div>
  <table>
    
    <h3>Test Bowling Rankings</h3><img src="../../assets/patcummins.png" class="avatar"/><br/>
    <tr><th>Pos</th><th>Player</th><th>Rating</th></tr>
    <tr><td>1</td><td>Pat Cummins</td><td>908</td></tr>
    <tr><td>2</td><td>Ravichandran Ashwin</td><td>883</td></tr>
    <tr><td>3</td><td>Josh Hazlewood</td><td>816</td></tr>
    <tr><td>4</td><td>Tim Southee</td><td>814</td></tr>
    <tr><td>5</td><td>Shaheen Afiridi</td><td>810</td></tr>

</table>
</div>


<div class="card2">

  <table>
    
    <h3>ODI Bowling Rankings</h3><img src="../../assets/trentboult.jpg" class="avatar"/><br/>
    <tr><th>Pos</th><th>Player</th><th>Rating</th></tr>
    <tr><td>1</td><td>Trent Boult</td><td>737</td></tr>
    <tr><td>2</td><td>Josh Hazlewood</td><td>709</td></tr>
    <tr><td>3</td><td>Mujeeb Ur Rahman</td><td>708</td></tr>
    <tr><td>4</td><td>Chris Woakes</td><td>700</td></tr>
    <tr><td>5</td><td>Mehedi Hasan</td><td>692</td></tr>

</table>
</div><br/><br/>

<br/><br/><br/>

<div class="card3">

  <table>
    
    <h3>T20I Bowling Rankings</h3><img src="../../assets/wanindu.jpg" class="avatar"/><br/>
    <tr><th>Pos</th><th>Player</th><th>Rating</th></tr>
    <tr><td>1</td><td>Wanindu Hasaranaga</td><td>797</td></tr>
    <tr><td>2</td><td>Tabraiz Shamsi</td><td>784</td></tr>
    <tr><td>3</td><td>Adam Zampa</td><td>725</td></tr>
    <tr><td>4</td><td>Adil Rashid</td><td>719</td></tr>
    <tr><td>5</td><td>Rashid Khan</td><td>710</td></tr>

</table>
</div>

<br/><br/><br/>

<br/><br/><br/>
<br/><br/><br/>




<div class="card1">
  <div class="border">
  <h2>Men's All-Rounder Rankings</h2></div>
  <table>
    
    <h3>Test All-Rounder Rankings</h3><img src="../../assets/jasonholder.jpg" class="avatar"/><br/>
    <tr><th>Pos</th><th>Player</th><th>Rating</th></tr>
    <tr><td>1</td><td>Jason Holder</td><td>382</td></tr>
    <tr><td>2</td><td>Ravichandran Ashwin</td><td>360</td></tr>
    <tr><td>3</td><td>Ben Stokes</td><td>348</td></tr>
    <tr><td>4</td><td>Ravindra Jadeja</td><td>346</td></tr>
    <tr><td>5</td><td>Shakib Al Hasan</td><td>327</td></tr>

</table>
</div>


<div class="card2">

  <table>
    
    <h3>ODI All-Rounder Rankings</h3><img src="../../assets/shakib.jpg" class="avatar"/><br/>
    <tr><th>Pos</th><th>Player</th><th>Rating</th></tr>
    <tr><td>1</td><td>Shakib Al Hasan</td><td>416</td></tr>
    <tr><td>2</td><td>Mohammad Nabi</td><td>294</td></tr>
    <tr><td>3</td><td>Chris Wokes</td><td>282</td></tr>
    <tr><td>4</td><td>Rashid Khan</td><td>270</td></tr>
    <tr><td>5</td><td>Mitchell Santner</td><td>268</td></tr>

</table>
</div><br/><br/>

<div class="card3">

  <table>
    
    <h3>T20I All-Rounder Rankings</h3><img src="../../assets/mohammad-Nabi.jpg" class="avatar"/><br/>
    <tr><th>Pos</th><th>Player</th><th>Rating</th></tr>
    <tr><td>1</td><td>Mohammed Nabi</td><td>265</td></tr>
    <tr><td>2</td><td>Shakib Al Hasan</td><td>231</td></tr>
    <tr><td>3</td><td>Liam Livingstone</td><td>179</td></tr>
    <tr><td>4</td><td>Glenn Maxwell</td><td>178</td></tr>
    <tr><td>5</td><td>Wainindu Hasaranga</td><td>173</td></tr>

</table>
</div>

<br/><br/><br/>
<br/><br/><br/>

<div></div>
<br/><br/><br/>
<br/><br/><br/>
<br/><br/><br/>

  <div class="social-media-icons">

    <div class="icons">
      <a href="https://www.facebook.com/icc" class="fa fa-facebook"></a>
    <a href="https://www.twitter.com/icc" class="fa fa-twitter"></a>
    <a href="https://www.google.com/icc" class="fa fa-google"></a>
    <a href="https://www.youtube.com/icc" class="fa fa-youtube"></a>
    <a href="https://www.instagram.com/icc" class="fa fa-instagram"></a>
    <a href="https://www.pininterest.com/icc" class="fa fa-pinterest"></a>
    <a href="https://www.snapchat.com/icc" class="fa fa-snapchat-ghost"></a>
    
    </div>
    
    </div>
    <br/><br/><br/><br/>

  <div class="footer">
    <div class="footer-col1"><br/><br/>
                  <h5>About </h5>
                  <p class="p-small">We're passionate in providing place for young players to fulfill their dreams. </p>
              </div>
          
              <div class="footer-col2">
                  <br/><h5>Links</h5>
                          
                          <div class="media-body"><a href="https://www.icc-cricket.com">Terms & Conditions</a></div>
                <br/>
                          
                          <div class="media-body"><a href="https://www.icc-cricket.com">Privacy Policy</a></div>
                      
                    <br/> 
                          
                          <div class="media-body"><a href="https://www.icc-cricket.com">Article Details</a></div><br/>
                      
                  
              </div>
        
          
              <div class="footer-col3">
                  <h5>Social Media</h5>
                  <p class="p-small">For news & updates follow us</p>
                  <section id="lab_social_icon_footer">
                    <!-- Include Font Awesome Stylesheet in Header -->
                    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
                    <div class="container">
                            <div class="text-center center-block">
                                    <a href="https://www.facebook.com/icc"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
                                  <a href="https://twitter.com/icc"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
                                  <a href="https://plus.google.com/icc"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
                                  <a href="mailto:icc-cricket.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
                        </div>
                    </div>
                    </section>
              </div> <br/><br/>
              <p class="copyright">Copyright © 2021 <a href="https://www.icc-cricket.com">ICC</a> - All rights reserved</p>
          </div> 

    


