<h1>Cricket Player Management System</h1>

<h2>Welcome Guest User</h2>


<img src="../../assets/icc.png" height="50px" width="50px" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="navbar">
<ul>
  <li><a href="guest">Home</a></li>
  <li><a href="">Login</a></li>

<li><a href="display1">Display All player details</a></li>

<li><a href="search1">Search for a player</a></li>
<div class="dropdown">
  <button class="dropbtn">Teams
    <i class=""></i>
  </button>
  <div class="dropdown-content">
    <a href="gallery1">Gallery</a>
    <a href="tdisplay1">Display all team details</a>
    <a href="tsearch1">Search for team details</a>
  </div>
</div> 
</ul>
</div>
<div  class="image1">
  <img src="../../assets/background.jpg" 
  width="1520px" height="750px"/>
</div><br/><br/>
<div class="con"><br/><br/><br/>
<h1>Cricket Player Management System</h1>
</div>
<div class="con1">
  <h3><pre>PROVIDING YOUNG CRICKETERS A PLACE TO FULFILL THEIR DREAMS</pre></h3>
</div>
<button class="box" (click) = "scroll()">GET STARTED</button>

<br/><br/><br/>
<div class="card1">
  <p class = "card-text">Objective <br/><br/>

    The aim of this project is to build a player management system that will completely automate the process of new player registration in a league. The system will handle the insertion, deletion, updating and display records of league players. 
    
   
    </p>
</div>
<div class="card2">
  <p class = "card-text"><br/>     Existing System  <br/><br/>

    The existing system requires many documents and application forms to be filled out. Data has to be repeatedly entered at each stage of the process and multiple files are made for each player.  </p>
</div>
<div class="card3">
  <p class = "card-text">Proposed System <br/><br/>

    The proposed system will eliminate the paper trail required for the completion of various formalities. The entire process of prospective player record till new player record can be handled by this system. The presence of this system will remove ambiguity in the process that can confuse the selectors.
    </p>
</div>
<br/><br/><br/>


<div class="contents"><br/><br/><br/>
  <h1>What can be done by the proposed system</h1><br/><br/>
  <div class="contents-col1"><h2>1.  Insert a player details:</h2><br/>
   Once a prospective player achieves an acceptable rank to enter into the league. The selector will scrutinize the details of users in the insertion module and notify them about discrepancies. This module will automatically update the “Player Management” database with the details of the new player. <br/><br/>
    
    <h2>2.
    Update player details:</h2><br/>
    This module helps in updating the player details as the game progress, the league administrator would do so after each and every match and keep track of player records.<br/><br/>
    
    <h2>3.
    Display player details:</h2><br/>
    This module helps in displaying the player records by retrieving from the database. The details like player name, runs scored, rating, age would be listed.<br/><br/><br/><br/><br/>
    <img src="../../assets/team2.jpg" width="600" height="400"/>
  </div>
  <div class= "col2">  <img src="../../assets/team4.jpg" width="600" height="400"/> </div>
  
    <div class="contents-col2">
     <br/><br/><br/>
      <h2>4.  Delete player details:</h2><br/>
     This module is to delete / remove a player from the league i.e., deleting his records from the database. To do so type the player name and Click “DELETE”, the player record would be deleted.

     <h2>5.Gallery</h2><br/>
     Provides room for users to watch match highlights and view ICC rankings published till date.

     <h2>6.Managing Teams</h2><br/>
     Once a prospective team achieves an acceptable rank to enter into the league. The selector will scrutinize the details of users in the insertion module and notify them about discrepancies. This module will automatically update the “Player Management” database with the details of the new team.

    </div>
  </div>
    
<br/><br/><br/><br/><br/>





<div class="desc">
  <br/>
  <h2>About ICC</h2><br/><br/>
  The ICC is the global governing body for cricket. Representing 106 members, the ICC governs and administrates the game and works with our members to grow the sport. The ICC is also responsible for the staging of all ICC Events.

The ICC presides over the ICC Code of Conduct, playing conditions, the Decision Review System and other ICC regulations. The ICC also appoints all match officials that officiate at all sanctioned international matches. Through the Anti-Corruption Unit it coordinates action against corruption and match fixing.
</div><br/><br/><br/>

<div class="social-media-icons">

  <div class="icons">
    <a href="https://www.facebook.com/icc" class="fa fa-facebook"></a>
  <a href="https://www.twitter.com/icc" class="fa fa-twitter"></a>
  <a href="https://www.google.com/icc" class="fa fa-google"></a>
  <a href="https://www.youtube.com/icc" class="fa fa-youtube"></a>
  <a href="https://www.instagram.com/icc" class="fa fa-instagram"></a>
  <a href="https://www.pinterest.com/icc" class="fa fa-pinterest"></a>
  <a href="https://www.snapchat.com/icc" class="fa fa-snapchat-ghost"></a>
  
  </div>
  
  </div>
  <br/><br/>



<div class="footer">
    <div class="footer-col1"><br/><br/>
                  <h5>About </h5>
                  <p class="p-small">We're passionate in providing place for young players to fulfill their dreams. </p>
              </div>
          
              <div class="footer-col2">
                  <br/><h5>Links</h5>
                          
                          <div class="media-body"><a href="https://www.icc-cricket.com">Terms & Conditions</a></div>
                <br/>
                          
                          <div class="media-body"><a href="https://www.icc-cricket.com">Privacy Policy</a></div>
                      
                    <br/> 
                          
                          <div class="media-body"><a href="https://www.icc-cricket.com">Article Details</a></div><br/>
                      
                  
              </div>
        
          
              <div class="footer-col3">
                  <h5>Social Media</h5>
                  <p class="p-small">For news & updates follow us</p>
                  <section id="lab_social_icon_footer">
                    <!-- Include Font Awesome Stylesheet in Header -->
                    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
                    <div class="container">
                            <div class="text-center center-block">
                                    <a href="https://www.facebook.com/icc"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
                                  <a href="https://twitter.com/icc"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
                                  <a href="https://plus.google.com/icc"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
                                  <a href="mailto:icc"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
                        </div>
                    </div>
                    </section>

              </div> <br/><br/>
              <p class="copyright">Copyright © 2021 <a href="https://www.icc-cricket.com">ICC</a> - All rights reserved</p>
          </div> 

    




