<div class="outter">
<div class="container" id="container">

	<div class="form-container sign-in-container">
    <br/><br/>
    
		<div class="f">
			<h1>Login</h1>
			
			<input type="name" placeholder="UserName" [(ngModel)] = "name" />
			<input type="password" placeholder="Password" [(ngModel)] = "pass" /><br/><br/>
			<a href="{{ value}}"(click) = "submit()">Submit</a>
      <br/><br/>
			
		</div>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			
			<div class="overlay-panel overlay-right">
				<h1>Cricket Player Management System</h1>

				<p>Login as a guest if you are not an admin</p><a href="guest">Guest Login</a>


			</div>
		</div>
	</div>
</div>
</div>
