@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,100&display=swap");
ul {
  list-style-type: none;
  margin-left: -10px;

  width: 213vh;
  padding: 0;
  overflow: hidden;
  background-color: #111;
}

li {
  float: right;
  display: flex;

  flex-direction: row-reverse;
}

li a {
  display: block;
  color: white;

  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

li a:hover {
  color: black;
  transform: scale(1.2);
  transition: ease;
  background-color: black;
}

.dropdown {
  float: right;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  margin: 0;
}
.navbar {
  margin-left: -20;
  left: 0;
}
.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: white;
  color: black;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: rgb(202, 194, 194);
}

.dropdown:hover .dropdown-content {
  display: block;
}
.image1 {
  margin-left: -11px;
  margin-top: -16px;
  width: 40px;
  height: 360px;
}
.con {
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 10pt;
}
.con1 {
  position: absolute;
  top: 60%;
  left: 65%;
  transform: translate(-50%, -50%);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 10pt;
}

.box {
  position: absolute;
  top: 70%;
  left: 67%;
  transform: translate(-50%, -50%);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 10pt;
  background-color: #111;
  color: white;
  padding: 20px;
  border-radius: 10px;
}

h3 {
  background-color: #ffbd50;
  color: #111;
  font-size: 17pt;
}

.footer {
  background-color: black;
  height: 350px;
  width: 1520px;
  margin-left: -10px;
  margin-right: -8px;
  margin-bottom: -10px;
}

.footer-col1 {
  margin-left: 45vh;
  background: black;
  color: white;
  height: 200px;
  width: 250px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
}

.footer-col2 {
  margin-top: -25vh;

  margin-left: 100vh;
  background: black;
  color: white;
  height: 250px;

  width: 250px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
}

.footer-col3 {
  margin-top: -33vh;

  margin-left: 160vh;
  background: black;
  color: white;
  height: 180px;
  width: 250px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
}

.copyright {
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  text-align: center;
}

.contents {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}

.contents-col1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  margin-left: 12vh;
  width: 400px;
  height: 450px;
}

.contents-col2 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  margin-left: 120vh;
  width: 400px;
  height: 500px;
}

.contents-col1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  margin-left: 30vh;
  width: 500px;
  height: 500px;
}

.contents-h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: bolder;
}

.desc {
  font-family: Arial, Helvetica, sans-serif;
  font-size: lighter;
  margin-left: 40px;
  width: 1400px;
}

.insertform {
  background-color: #ffbd50;
  margin-left: -10px;
  color: #555;
  height: 400px;
  margin-top: 250px;
}

.c1 {
  padding: 5px;
  margin-left: 660px;
  margin-top: -500px;
}

input {
  background-color: #eee;
  border: none;
  padding: 10px 15px;
  margin: 8px 0;
  width: 80%;
}

.insertbtn {
  border-radius: 20px;
  border: 1px solid #555;
  background-color: #ffbd50;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

.insertbtn:active {
  transform: scale(0.95);
}

.insertbtn:hover {
  background-color: #eee;
  border: #eee;
  color: #555;
}

a.ghost {
  background-color: transparent;
  border-color: #ffffff;
}

.c {
  margin-left: 0px;
  padding: 0px;
  width: 400px;
  height: 600px;
  padding: 45px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

.fa {
  padding: 15px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  margin-left: 10px;
  border-radius: 50%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  background-color: #3c3c3c;
}

.card {
  position: relative;

  width: 700px;
  height: 400px;
  overflow: hidden;

  margin-left: 390px;

  border-radius: 5px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

/*Light blue cover above the slide show*/
.card::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: 900;

  display: block;
  width: 100%;
  height: 100%;

  background-color: rgba(140, 22, 115, 0.2);
}

.card_part {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 7;

  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;

  transform: translateX(700px);
  background-image: url(../../assets/team1.jpg);

  animation: opaqTransition 28s cubic-bezier(0, 0, 0, 0.97) infinite;
}

.card_part.card_part-two {
  z-index: 6;
  background-image: url(../../assets/team5.jpg);
  animation-delay: 7s;
}

.card_part.card_part-three {
  z-index: 5;
  background-image: url(../../assets/team6.jpg);
  animation-delay: 14s;
}

.card_part.card_part-four {
  z-index: 4;
  background-image: url(../../assets/team4.jpg);
  animation-delay: 21s;
}

@keyframes opaqTransition {
  3% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(0);
  }
  28% {
    transform: translateX(-700px);
  }
  100% {
    transform: translateX(-700px);
  }
}
